DB_NAME= "tp_final"
DB_USER="postgres"
DB_PASSWORD="postgres"
DB_HOST="localhost"
DB_PORT=5432
PORT=3000
JWT_SECRET=una_clave_larga_y_segura
JWT_EXPIRES_IN=1d
MP_ACCESS_TOKEN=xxxxxx
FRONTEND_URL=http://localhost:4200
BACKEND_URL=http://localhost:3000
GOOGLE_CLIENT_ID=xxxxxx.apps.googleusercontent.com

# comprador
USER_MP =TESTUSER6842157500358161036
CONTRA_MP=sFXNoOcjlL
COD_VER=432525

#vendedor
USER_MP=TESTUSER5582607639685849497
CONTRA_MP=0idxUhlANM
COD_VER=432555